.root {
    -fx-background-image: url('images/background.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.menu-button {
    -fx-font-size: 16px;
    -fx-background-color: #ffffff;
    -fx-background-radius: 5;
    -fx-text-fill: #000000;
    -fx-padding: 10;
}

.menu-button:hover {
    -fx-background-color: #dddddd;
}
